* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

.app {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}

.form {
  margin: 60px 0 20px;
  background-color: #fff;
  border-radius: 6px;
  padding: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 10px;
}

.form-group label {
  font-size: 17px;
  font-weight: 600;
}

.form-group input {
  outline: none;
  border: 2px solid #ccc;
  padding: 6px 4px;
  font-size: 16px;
}

.form-group input:focus {
  border: 2px solid blue;
}

.btn__submit {
  outline: none;
  border: none;
  padding: 6px 12px;
  background-color: rgb(45, 45, 204);
  color: #fff;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}
