* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
}

.app {
  width: 100%;
  max-width: 480px;
  height: 100vh;
  margin: 0 auto;
}

.form {
  margin-top: 60px;
  background-color: #fff;
}
